@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Gowun+Batang&family=Jua&family=Monoton&display=swap');

/* Reset */
* { margin: 0; padding: 0; box-sizing: border-box;}
a {text-decoration: none; color: #ccc;}
ul li{list-style: none;}
#nav a,
#nav a:link,
#nav a:visited,
#nav a:hover,
#nav a:active {
  text-decoration: none;
}
p{
  color: gray;
  font-size: 13px;
  opacity: 0.6;
}
body {
  width: 100%;
  height: 100%;
  background: rgb(250, 250, 250);
  font-family: 'Gowun Batang', serif;
}

/* 배경동영상 */
.vid {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}
.vid video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  opacity: 0.9;
  pointer-events: none;
}

/* Header */
header {
  position: fixed;   /* 상단 고정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  z-index: 1000;   /* 동영상 위 */
}

/* 로고 */
.logo{
  padding-left: 200px;
}
.logo img {
  height: 40px;
  width: auto;
}

/* nav 1depth */
#nav {
  display: flex;
  flex-wrap: nowrap;   /* 절대 줄바꿈 금지 */
  align-items: center;
  margin-right: 150px;
  gap: 60px;
  overflow: visible;
}
#nav .id{
  display: flex;
}
.id{
  margin-top: 20px;
  font-size: 20px;
  font-family: "Dongle";
}
#nav>li {
  position: relative;
  padding-top: 20px;
}
#nav>li>a {
  display: block;
  text-align: center;
  color: #222;
  font-size: 18px;
  padding: 0 10px;
  line-height: 70px;
  font-family: "JUA";
}
#nav>li:hover>a {
  background: white;
  color: black;
}

/* nav 2depth */
#nav ul {
  position: absolute;
  left: -30px;
  top: 95px;
  opacity: 0;
  transition: 0.2s;
  z-index: 999; /* 드롭다운 최상단 */
}
#nav>li:hover ul {
  opacity: 1;
}
#nav ul a {
  display: block;
  width: 140px;
  height: 40px;
  background: rgb(248, 244, 237);
  border-bottom: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  transition: all 0.2s;
}
#nav ul a:hover {
  background: rgb(248, 244, 237);
}

/* 버튼 */
button {
  width: 70px;
  border: 0;
  background-color: white;
  cursor: pointer;
  font-size: 14px;
}
section{
  background-color: rgb(248, 244, 237);
  z-index: 10;
  margin: 55px 0;
  width: 100%;
  height: 400px;
  font-family: "Jua";
}
.slider-pc{
      display: block !important;
    }
    .slider-m{
      display: none !important;
    }
    .slider-container { 
      max-width: 100%;
    }
    .slide{
      position: relative;
    }
    .slide .caption, 
    .slide .more{
      position: absolute;
      padding-left: 50px;
    }
    .p1{
      font-weight: bold;
      font-size: 21px !important;
    }
    .p2{
      font-weight: lighter;
      margin-top: -10px;
      font-size: 15px;
    }

    .slider .slide img {
      width: 100%;
      height: 368px;
    }
        
    
    .inquiry-box {
      background-color: #b71c1c; /* 배경색 */
      color: white;
      padding: 20px;
      padding-left: 15%;
      display: flex;
      align-items: center;
      gap: 15px;
      position: fixed;
      bottom: 0px;
      width: 100%;
      height: 61px;
      
      
    }
    .inquiry-title {
      font-size: 20px;
      font-weight: bold;
      margin-right: 30px;
      
    }
    .form-group {
      display: flex;
      gap: 10px;
      align-items: center;
      flex: 1;
      
    }
    .form-group label {
      font-size: 14px;
      font-weight: bold;
      
    }
    input[type="text"],
    select {
      padding: 8px;
      border: none;
      border-radius: 3px;
      outline: none;
      
    }
    input[type="radio"] {
      margin-left: 10px;
      margin-right: 5px;
    }
    .agree {
      font-size: 12px;
      color: #fff;
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .submit-btn {
      background-color: #333;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 3px;
      font-size: 14px;
      cursor: pointer;
    }
    .submit-btn:hover {
      background-color: #222;
    }
    .close-btn {
      margin-left: auto;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
    }
    .event{
      background-color: #eeeeee;
      text-align: center;
      padding-top: 35px;
      height: 170px;
      display: none;
    }
    .event p{
      color: black;
      font-size: 17px;
    }
    .search{
      text-align: center;
      padding-top: 20px;
      display: none;
    }
    .search p{
      color: black;
      font-size: 17px;
    }
    .search span{font-weight: bold;}
    .set{
      display: block;
      border: 1px solid red;
      width: 300px;
      margin: 0 auto;
      padding-right: 10px;
      margin-top: 80px;
      z-index: 999999 !important;
    }
    .set i{
      padding-left: 70px;
      color: red;
    }

    .store img{
      width: 100%;
      height: 280px;
    }
    .store{  
      margin: -70px;
    }
    @media screen and (max-width:768px) {
    *{padding: 0; margin: 0;}
    .slide{text-align: center;}
    .slider .slide img {
      width: 100%;
      height: 460px;
      border-radius: 10px 10px 0 0;
    }
    .inquiry-box{opacity: 0;}
    
    .slider-pc{display: none !important;}  
    .slider-m{display: block !important;}   
     #nav{display: none;}
    .logo{
     padding-left: 100px;
    }
    .vid{display: none;}
    .event{
      display: block;
    }
    .search{
      display: block;
    }
    input::placeholder {
    color: red;   /* 원하는 색상 */
    opacity: 1;    /* 투명도 (기본값은 0.5~0.7 정도로 브라우저마다 다름) */
    }
    }
    