@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.css");

@import "./styles/00-global.css";
@import "./styles/10-hero.css";
@import "./styles/20-works.css";
@import "./styles/01-skills.css";
@import "./styles/30-about.css";
@import "./styles/40-contact-footer.css";
@import "./styles/60-responsive.css";
@import "./styles/50-services.css";
